/* Benjamin Updike, last modified Dec/13/2021 */
.title-color{
  color: rgb(255, 189, 128) !important;
}
.btn-color{
  background-color: rgb(255, 196, 157) !important;
  border-color: rgba(255, 196, 157,.8);
}
.btn-alignment{
  text-align: center;
  display: grid;
  grid-template-columns: auto;
}
.body2 {
  background-image: linear-gradient(rgba(0, 32, 17, 0.65), rgba(47, 23, 15, 0.25)), url("../images/christus.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.body3 {
  background-image: linear-gradient(rgba(0, 32, 17, 0.65), rgba(47, 23, 15, 0.25)), url("../images/timpsunrise.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.bold {
  font-weight: bold;
}
.italic{
  font-style: italic;
}
@media (min-width: 992px) {
  .resume-item .resume-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
  }
  .resume-item .resume-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
  }
  .resume-item .resume-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
  }
}
.logo {
  width: 40%;
}
.missionary {
  width: 60%;
}
.flex {
  display: flex !important;
}
.scout{
  width: 30%;
  flex-direction: row;
  order: 1;
}
.my-btn {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#onPageNav {
  background-color: rgba(119, 97, 57, 0.9);
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#onPageNav .navbar-brand {
  color: #e6a756;
}
#onPageNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 800;
}
#onPageNav .navbar-nav .nav-item.active .nav-link {
  color: #e6a756;
}
@media (min-width: 992px) {
  #onPageNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #onPageNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
  }
  #onPageNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #e6a756;
  }
}

.video{
  position:relative;
  margin: auto;
  margin-bottom: 3%;
}
.section-heading .my-section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 250;
}